/**/


* {
  margin: 0;
  padding: 0; 
}

body {
  background-color:white;
  font-family: 'lato', sans-serif;
  font-weight:100;
  font-size: 1em;
}

h1,
h2,
h3,
h4,{
  color: white;
  font-family: palatino;
   }

h3 {
  color: white;
}

a {
  text-decoration: none;
  color:white
}

.masthead {
  padding: 10em 0 20em 0;
  background-image: url('../images/sky.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  color:white;
}

.masthead-intro {
  text-align:left;
  margin-bottom: 2em;
  margin-left: 15%;
  font-family: palatino;
  color: white;
  opacity: .75;
  font-size: 30px;
}

.masthead-heading {
  margin-top: 0; /*used to be .9em*/
  margin-left: 15%;
  opacity: .75;
  font-family: lato;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: .3em;
  text-transform: uppercase;
  max-width: 70rem;
}
.masthead-heading-author {
  margin-top: 1em; /*used to be .9em*/
  margin-left: 55%;
  opacity: .75;
  font-family: lato;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-style: italic;
}

.masthead-heading > h1 {
  padding-top: 2em;
}

.image {
  border-radius: 300px;
  height: 25em;
  width: 25em;
  margin-left: 15%;
  color: linear-gradient(
      rgba(2, 28, 59, 0.1), 
      rgba(2, 28, 59, .1)
    )
  }

.about {
  padding: 15em 0;
 /* background: linear-gradient(
      rgba(255, 255, 255, .2), 
      rgba(255, 255, 255, .2)
    ), url('http://i.imgur.com/dTOpcwd.png');
  background-repeat: no-repeat;*/
}


.about-intro {
  padding: 1em 0;
  text-align: right;
  margin-right: 15%;
  font-family: 'palatino', sans-serif;";
  font-size: 3rem;
}

.about-intro {
  font-size: 3rem;
}

.about-body {
  text-align:right;
  margin-right: 15%;
  font-family: 'palatino';
  max-width: 20em;
  margin-left: auto;
  margin-right: 15%;
  font-size: 1.8rem;

}

/*Tiles*/

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {

  padding: 0;
  width:  33.33333%;
  height: 33.33333%;
  margin-top: 0px;
  line-height: 300px;
  color: white;
  font-size: 3em;
  text-align: center;

}

.flex-item-guitar,
.flex-item-development,
.flex-item-words {
  max-height: 300px;
  width: 100%;
  height: 100%;
  ;
}

.flex-item-music {
      background: linear-gradient(
      rgba(11, 175, 109, .9), 
      rgba(11, 175, 109, .9)
    ), url('../images/guitar.jpeg');
      background-size: cover;

}

.flex-item-music:hover {
      background: linear-gradient(
      rgba(67, 65, 102, .9), 
      rgba(67, 65, 102, .9)
    ), url('../images/guitar.jpeg');
      background-size: cover;

}

.flex-item-development {
    background: linear-gradient(
      rgba(45, 193, 133, .9), 
      rgba(45, 193, 133, .9)
    ), url('../images/development.jpeg');
      background-size: cover;
      display: block;
}

.flex-item-development:hover {
    background: linear-gradient(
      rgba(21, 100, 166, .9), 
      rgba(21, 100, 166, .9)
    ), url('../images/development.jpeg');
     background-size: cover;
      display: block;


  }

.flex-item-words {
    background: linear-gradient(
      rgba(84, 151, 206, .9), 
      rgba(84, 151, 206, .9)
    ), url('../images/words.jpeg');
      background-size: cover;
}

.flex-item-words:hover {
    background: linear-gradient(
      rgba(108,  107, 176, .9), 
      rgba(108,  107, 176, .9)
    ), url('../images/words.jpeg');
      background-size: cover;
}

.tile-text {
  text-align: center;
}


.button {
  text-align: center;
  margin-top: 2em; 
  margin: auto auto; 
  width: 100px;
  height: 50px;
  transition: background-color .3s ease;
  background-color: #57A4D4;
  border-radius: 10px;
  font-family: inherit;
  color: white;
  font-size: 18px;
}

button:hover {
  background-color: #0080ff ;
}

/*Footer*/

.social {
  margin: 0 0 3rem 0;
}

.cases {
    margin: auto;
    text-align: center;
    width: 100%;
    color: black;
    padding-top: 3em;
  }

.cases .icons li {
  width: 2.5rem;
  text-align: center;
  display: inline-block;
  color: #838994;
  padding: 0.625rem 0;
  margin: 1.25rem 3rem;
}

.cases h5 {
  font-family: garamond;
    font-weight: 400;
    font-size: 16px;
  letter-spacing: 0.03em;
}

.footer {
  text-align: center;
  background: linear-gradient(
      rgba(34, 49, 50, .7), 
      rgba(34, 49, 50, .7)
    ), url('http://i.imgur.com/b0wkgi9.jpg');
  padding: 6em 0;
  background-size: cover;

}
.footer-header {
  text-align: center;
  padding: 5em, 0em;
  font-family: "PT Serif";
  font-size: 25px;

  
}
.footer-body {
  text-align: center;
  color: white;
  padding-top: 5em, 0;
  font-family: "PT Serif";

}

.footer-body > li {
  display: inline-block;
  padding-top: 1rem;
}

/*Responsive*/

@media only screen and (max-width: 700px) {
    .masthead {
        padding: 4em 0 8em 0;
    }

    .masthead-heading, .masthead-heading-author {
        font-size: .9em;
  }
    .quotes {
      padding: 6em 0;
    }
    .about {
      padding: 6em 0em;
    }
    .showcase {
      padding: 6em 0;
    }
    .footer {
      padding: 3em 0;
    }

    .about-intro {
      font-size: 2em;

    }
    .about-body {
      font-size: 1em;
      padding: 0 0 0 em;

    }
    .flex-item {
      padding: 0;
      width:  100%;
      height: 100%;

    }
    .footer-header {
      font-size: .85em;

    }
    .footer-body {
      font-size: .85em;

    }
}


@media (min-width: 1500px) 
{
    .masthead {
        padding: 22em 0;
    }

    .masthead-heading,
.masthead-heading-author  {
        font-size: 2rem;
  }

    .about {
      padding: 22em 0em;
    }

  .flex-item {

  }

    .flex-item-guitar,
    .flex-item-development,
    .flex-item-words {
      height: 100%;
    }

    .social {
      padding: 3em 0;
    }

  }

